<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MANAJEMENLABPRAKTIKUM/public/

    # Aturan untuk mengarahkan request ke index.php jika file atau direktori tidak ada
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
